body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514e;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66bfbf;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #66bfbf;
  font-size: 2.5rem;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #119993;
}

a {
  color: #119993;
  padding: 20px;
  text-decoration: none;
  font-family: 'Merriweather', serif;
}
a:hover{
  color: #eaf6f6;
}

hr {
  width: 5%;
  border-style: dotted none none none;
  border-width: 10px;
  color: #cbf1f5;
}

.pulkit {
  height: 200px;
  border-radius: 100%;
  margin-top: 50px
}

.top-container {
  background-color: #e3fdfd;
  padding-top: 100px;
  position: relative;
}

.profile {
  width: 25%;
  margin: 70px auto;
  line-height: 2;
}

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  top: 50px;
  right: 20%;
}

.bottom-cloud {
  position: absolute;
  left: 25%;
  bottom: 300px;
}

.skills {
  margin: 70px auto;
  line-height: 2;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.code-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.chilli-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.contact-me {
  width: 40%;
  margin: 70px auto;
  line-height: 2;
}

.bottom-container {
  background-color: #66bfbf;
  padding: 60px;
}

.copyright {
  color: #eaf6f6;
  margin: 30px 0 0 0;
  font-size: 0.75rem;
}

.btn {
	box-shadow: 0 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #11cdd4 5%, #408c99 100%);
	background-color:#11cdd4;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:20px;
	padding:5px 26px;
	text-decoration:none;
	text-shadow:0 1px 0 #3d768a;
  margin-top: 20px;
}
.btn:hover {
	background:linear-gradient(to bottom, #408c99 5%, #11cdd4 100%);
	background-color:#408c99;
}
.btn:active {
	position:relative;
	top:1px;
}
